.container
  %h5="Manage Sprints of #{@project.name}"

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Ticket NO.
        %th Start Date
        %th End Date
        %th

    %tbody
      - @sprints.each do |sprint|
        %tr
          %td= sprint.name
          %td= sprint.jira_issue_id
          %td= sprint.start_date
          %td= sprint.end_date
          %td
            = link_to 'Show', sprint
            = link_to 'Edit', edit_sprint_path(sprint)
            = link_to 'Destroy', sprint, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Sprint', new_sprint_path
